[submodule "vim_runtime/pack/sources_non_forked/start/vim-tmux-navigator"]
	path = vim_runtime/pack/sources_non_forked/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-colors-solarized"]
	path = vim_runtime/pack/sources_non_forked/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim_runtime/pack/sources_non_forked/start/bufexplorer"]
	path = vim_runtime/pack/sources_non_forked/start/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-fugitive"]
	path = vim_runtime/pack/sources_non_forked/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-slime"]
	path = vim_runtime/pack/sources_non_forked/start/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "vim_runtime/pack/sources_non_forked/start/ctrlp"]
	path = vim_runtime/pack/sources_non_forked/start/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim_runtime/pack/sources_non_forked/start/ale"]
	path = vim_runtime/pack/sources_non_forked/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-repeat"]
	path = vim_runtime/pack/sources_non_forked/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-commentary"]
	path = vim_runtime/pack/sources_non_forked/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-vinegar"]
	path = vim_runtime/pack/sources_non_forked/start/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim_runtime/pack/sources_non_forked/start/delimitMate"]
	path = vim_runtime/pack/sources_non_forked/start/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
