[submodule "vim_runtime/pack/sources_non_forked/start/vim-tmux-navigator"]
	path = vim_runtime/pack/sources_non_forked/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim_runtime/pack/sources_non_forked/start/vim-colors-solarized"]
	path = vim_runtime/pack/sources_non_forked/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim_runtime/pack/sources_non_forked/start/bufexplorer"]
	path = vim_runtime/pack/sources_non_forked/start/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "vim_runtime/pack/sources_non_forked/start/nerdtree"]
	path = vim_runtime/pack/sources_non_forked/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
